@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.caja{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    /* transform: translateY(95%); */
    transform: translateY(96.2%);
    transition: 0.7s ease;
}

.caja.active{
    height: 300px;
    /* transform: translateY(0%);  */
}

.contenido,
.contenido2,
.contenido3{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.cuerpo-contenido2,
.cuerpo3{
    height: 255px;
    overflow: auto;
}
/* .cuerpo3{
    display: none;
} */
.chat
{
    position: relative;
    height: 225px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
}
.otro{
    text-align: end;
    transition: 1.2s;
    transform: translateX(100px);
    border-radius: 20px 0 20px 20px;
    margin: 5px 3px 5px 9.5%;
    width: 90%;
    padding-bottom: 8px;
}
.yo{
    transition: 1.2s;
    transform: translateX(-100px);
    border-radius: 0px 20px 20px 20px;
    margin: 10px 0 10px 3px;
    width: 90%;
    padding-bottom: 8px;
}

.caja.active .otro,
.caja.active .yo {
    transform: translateX(0);
}

.yo span{
    padding-left: 5px;
}
.yo p{
    background: #607d8b3d;
    color: rgb(92, 86, 86);
    border-radius: 0px 10px 10px 10px;
}
.otro p{
    background: #00bcd4;
    color: rgb(255, 255, 255);
    border-radius: 10px 0px 10px 10px;
}
.contenido .input{
    border: none;
    width: 80%;
    text-align: center;
    height: 30px;
    outline: none;
    border: 1px solid  rgb(0 188 212);
    border-radius: 50px;
    color: rgb(109 105 105);
}
.contenido .input::placeholder{
    color:  rgb(0 188 212);
}
span{
    font-size: 8px;
    color: rgb(109 105 105);
    text-align: start;
    padding-right: 5px;
}
p{
    padding: 10px;
    font-size: 12px;
    display: inline-block;
   
}
.opciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boton{
    width: 100%;
    margin: 0 1px;
    height: 30px;
    border: none;
    background-color: #fff;
    font-weight: 100;
    font-size: 10px;
}
.boton:nth-child(1){
    border: 1px solid #00bcd4;
    color: #00bcd4;
}
.boton:nth-child(2){
    border: 1px solid #ff9800;
    color: #ff9800;
}
.boton:nth-child(3){
    border: 1px solid #ff006a;
    color: #ff006a;
}

.escribir{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}
i{
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #00bcd4;
    background-color: #00bcd4;
    padding: 7.5px 8px;
    color: #fff;
    align-self: center;
}
@media (max-width: 600px){
    .caja{
    width: 100%;
    }
}